<div class="card">
    <div class="card-body">
<div *ngIf="saved">
  <div class="cointainer">
    <h2 class="heading">Edit Vehicle Details</h2>

    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="row heading">
        <div class="col-lg-6 ">
          <h5>
            <label for="name">Vehicle Name</label>
          </h5>
          <input type="text" class="form-control" id="name" [formControl]="name" formControlName="name" disabled>



        </div>
        <div class="col-lg-6 ">
          <h5>
            <label for="vehicleNo">Vehicle Number</label>
          </h5>
          <input type="number" class="form-control" id="vehicleNo" [formControl]="vehicleNo" formControlName="vehicleNo"
            disabled>



        </div>
      </div>
      <div class="row heading">
        <div class="col-lg-12 ">
          <h5>
            <label for="image">Vehicle Image URL</label>
          </h5>
          <input type="text" class="form-control" id="image" [formControl]="image" formControlName="image">
          <div  class ="text-danger" *ngIf="image.invalid && image.errors.required" >
            Photo URL is required.
          </div>

        </div>

      </div>
      <div class="md-20 ">
        <div class="row  ">
          <div class="col-lg-3 heading  ">
            <h5>
              <label for="price">Vehicle Price</label>
            </h5>
            <input type="number" class="form-control" id="price" formControlName="price" [formControl]="price">
            <div  class ="text-danger" *ngIf="price.invalid && price.errors.required">
              Price per day is required.
            </div>


          </div>
          <div class="col-lg-3 heading">
            <h5>
              <label for="seater">Seater</label>
            </h5>
            <select class="form-control" id="seater" formControlName="seater" [formControl]="seater">
              <option></option>
              <option *ngFor="let seats of Seaters" selected="movieItem.seater == seats" [value]="seats">{{seats}}
              </option>

            </select>
            <div  class ="text-danger" *ngIf="seater.invalid && seater.errors.required" >
              Seater is required.
            </div>


          </div>
          <div class="col-lg-3 heading">
            <h5>
              <label for="type">Vehicle Type</label>
            </h5>
            <select class="form-control" id="type" formControlName="type" [formControl]="type">
              <option></option>
              <option *ngFor="let item of types" selected="movieItem.type == item" [value]="item">{{item}}</option>

            </select>
            <div   class ="text-danger" *ngIf="type.invalid && type.errors.required">
              Vehicle type is required.
            </div>


          </div>





          <div class="col-lg-3 heading">
            <h5>Active</h5>
            <div class="form-check">
              <input type="radio" class=" form-check-input md-15 " id="yes" [value]=true formControlName="active"
                [formControl]="active">&nbsp;
              <label for="yes"> Yes </label> &nbsp;&nbsp;
              <input type="radio" class=" form-check-input md-15 ml-1" id="no" [value]=false formControlName="active"
                [formControl]="active">
              <label for="no" class="ml-4">No</label>
            </div>
            <div  class ="text-danger" *ngIf="active.invalid && active.errors.required" >
              Active is required.
            </div>
          </div>
        </div>
      </div>



      <div class="md-20 ">
        <div class="row  ">
          <div class="col-lg-3 heading  ">
            <h5>
              <label for="branch">Branch</label>
            </h5>
            <input type="text" class="form-control" id="branch" formControlName="branch" [formControl]="branch">
            <div  class ="text-danger" *ngIf="branch.invalid && branch.errors.required">
              Branch is required.
            </div>
            <div  class ="text-danger"  *ngIf="branch.errors?.maxlength">Branch Code must be less then 5 char</div>
          </div>

          <div class="col-lg-3 heading form-check">
            <h5>
              <label for="insuranceExpDate">Insurance Expiry Date</label>
            </h5>
            <input type="date" class="form-control " id="insuranceExpDate" formControlName="insuranceExpDate"
              [formControl]="insuranceExpDate" placeholder="dd/mm/yyyy">
            <div  class ="text-danger" *ngIf="insuranceExpDate.invalid && insuranceExpDate.errors.required" >
              Insurance Expiry Date is required.
            </div>
          </div>

          <div class="col-lg-3 heading form-check">
            <h5>
              <label for="lastServiceDate">Last Service Date</label>
            </h5>
            <input type="date" class="form-control " id="lastServiceDate" formControlName="lastServiceDate"
              [formControl]="lastServiceDate" placeholder="dd/mm/yyyy">
            <div  class ="text-danger" *ngIf="lastServiceDate.invalid && lastServiceDate.errors.required" >
              Last Service Date is required.
            </div>
          </div>


          <div class="col-lg-3 heading form-check">
            <h5>
              <label for="serviceDueDate">Service Due Date</label>
            </h5>
            <input type="date" class="form-control " id="serviceDueDate" formControlName="serviceDueDate"
              [formControl]="serviceDueDate" placeholder="dd/mm/yyyy">
            <div  class ="text-danger" *ngIf="serviceDueDate.invalid && serviceDueDate.errors.required" >
              Service Due Date is required.
            </div>
          </div>








        </div>
      </div>






      <div class="row heading ">
        <div class="col-lg-6 mt-4 right">
          <button type="submit" class="btn btn-color" [disabled]="!form.valid">Submit</button> &nbsp; &nbsp;
          <button (click)="delete(vehicleItem.id)" class="btn btn-outline-danger ">Delete</button>
        </div>
      </div>

    

     

    </form>

  </div>
</div>
</div>
</div>